.card-header{
    background-color: rgba(232, 236, 241, 0.1) !important;
    border: 1px solid black !important;
    color:white
}
.card{
        
        background-color: rgba(232, 236, 241, 0.1);
    
   
}
.badge{
    background-color: rgb(206, 99, 255) !important;
    color: whitesmoke;
}
.card-body{
    text-align: justify;
    font-size: 16px;
    color: whitesmoke;
}
/* 255, 159, 99 */